/*default css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus {
    outline: none !important; 
}

.no-wrap {
    white-space: nowrap;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    margin-bottom: 60px;
    background-color: #FEFFFE;
    height: 100%;
    min-width: 465.5px;
    overflow-x: hidden;
}

/*css for setting up each page and the navbar*/
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70px 100% 70px;
    grid-template-areas:
        "header header "
        "main main "
        "footer footer ";
    
}

.header {
    grid-area: header;
    position: sticky;
    top:0;
    z-index:50;
}

.main{
    grid-area:main;
}

.footer{
    grid-area:footer;
}

/*css for navbar going along top of webpage*/
.text-custom-color {
    color: #050609;
}

.btn-custom {
    background-color: #ac6e04 !important;
    color: #050609;
}

.btn-custom:hover {
    color: #FEFFFE !important;
}

.fa-icon {
    color: #ac6e04;
}

.navbar-brand:hover{
    color:inherit !important;
}
.custom-navbar {
    background-color: #FEFFFE;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 100%;
}

.dropdown-menu {
    background-color: #fcfefc;
    border-bottom: 2px solid #ac6e04;
    padding:20px;
}

.dropdown-menu .dropdown-item {
    color: #050609;
    padding: 10px 15px;
    font-weight: 200;
}

.dropdown-menu .title{
    font-weight:500;
    position:relative;
    margin-left:20px;
    margin-top:10px;
}

.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    z-index: 100000;
}

.dropdown-custom{
    left:-110px;
}

.navbar-collapse.collapse.show {
    height: 100vh; 
    overflow-y: auto; 
    transition: height 0.5s ease-in-out;
}

.nav-item:hover .nav-link {
    text-decoration: underline;
    color: inherit;
    text-decoration-color: #ac6e04;
    text-decoration-thickness: 2px; 
}

.nav-link { 
    cursor: default; 
    font-weight: 500;
}

.profile-icon{
    font-size:20px;
}

.navbar-link-custom {
    cursor:pointer;
    background-color:inherit !important;
    text-decoration:none !important;    
}

/*Css for Main Page*/

.grid-container-main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 400px;
    grid-template-areas:
        "mainphoto"
        "secondrowbar "
        "third-row-photo";
}

.intro {
    grid-area: intro;
    padding: 200px;
    padding-top: 100px;
}

.mainphoto {
    width: 100%;
    position: relative;
    margin: auto;
    height: 500px;
}

.mainphoto img {
    width: 100%;
    height:500px;
    object-position: top;
    object-fit: cover;
    position: absolute;
}

.mySlides {
    display: none;
}

.textbox-main-1 {
    position: absolute;
    top: 30%;
    left: 22%;
    width: 25%;
    background-color: rgba(18, 36, 47, 0.8);
    padding: 10px;
    border-radius: 5px;
    color: white;
    z-index: 5;
}

.textbox-main-2 {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 25%;
    background-color: rgba(93, 115, 133, 0.8);
    padding: 10px;
    border-radius: 5px;
    color: white;
    z-index: 5;
}

.textbox-main-3 {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 5;
}

.dot-container {
    position: absolute;
    z-index: 20;
    text-align: center
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fade {
    from {
        opacity: .4;
        visibility:0;
    }

    to {
        opacity: 1;
        visibility: 1;
    }
}

.mainphoto .image3main{
    object-position:center;
}

.dot-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); 
    display: flex; 
    gap: 10px; 
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover, .active {
    background-color: #717171;
}

.secondrowbar {
    padding-left:70px;
    grid-area: secondrowbar;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: #f0f3f5;
    min-width: 100%;
    position: relative;
    overflow-x: auto !important;
    box-sizing: border-box;
}

.herocontainer {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "hero-header hero-icon"
        "hero-body hero-link";
    width: 400px;
    height: 200px;
    color: black;
    text-decoration: none;
    position: absolute;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.herocontainer1 {
    top: 27%;
    grid-column: 1;
}

.herocontainer2 {
    top: 27%;
    grid-column: 2;
}
.herocontainer2 .hero-body{
    position:absolute;
    top:-40%;
}

.herocontainer2 .hero-icon{
    position:absolute;
    left:15%;
    font-size:47px;
}

.herocontainer3 {
    top: 27%;
    grid-column: 3;
}

.herocontainer3 .hero-body{
    position:absolute;
    top:-50%;
}

.herocontainer:hover{
    color:inherit;
}

.herocontainer:hover .hero-link {
    color: #00abe7;
}

.hero-header{
    grid-area:hero-header;
    font-size:32px;
}

.hero-icon {
    grid-area: hero-icon;
    font-size: 45px;
}

.hero-body {
    grid-area: hero-body;
    font-size: 16px;
}

.hero-link{
    position:absolute;
    grid-area:hero-link;
    font-size:30px;
    top:20%;
    left:40%;
    color:black;
}

.third-row-main {
    grid-area: third-row-main;
}

.third-row-photo {
    grid-area: third-row-photo;
}

/*Css for signup page*/
.grid-container-signup {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto ;
    grid-template-areas:
        "signup-text signup-photo"
}

.grid-container-signin {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "signup-text signin-photo"
}

.form-control{
    width: 60%;
}

.signup-text{
    grid-area:signup-text;
    margin:50px;
}

.signup-photo {
    grid-area: signup-photo;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.signin-photo {
    grid-area: signin-photo;
    width: auto;
    height: 100%;
    object-fit: cover;
}

/*Css for banking page*/
.flex-container-banking{    
    display:flex;
    margin-top:20px;
    flex-direction:column;
    align-items:center;
    gap:40px;

}

.cardcontainer {
    display: grid;
    grid-template-columns:200px 200px 200px;
    grid-template-rows: 250px;
    grid-template-areas: "cardimg cardabout cardbutton";
    width:60%;
    border-color: black;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    left:20%;
    gap:100px;

}

.cardimg {
    grid-area: cardimg;
    background-size: contain;
    max-width: 100%; /* Ensures image doesn't overflow */
    height: auto;
    margin-right:40px;
    margin:20px
}

.cardabout {
    grid-area: cardabout;
    font-size:12px
}

.cardbutton{
    grid-area: cardbutton;
}

/*CSS for Account*/
.grid-container-account{
    display:grid;
    grid-template-columns:250px 80%;
    grid-template-rows: 100%;
    grid-template-areas:"profilesidebar main-account"; 
    height:100vh;
}

.profilesidebar {
    grid-area: profilesidebar;
    background-color: #eff3f6;
    height:250px;
    border-radius:20px;
    /*margin-top:20px;
    margin-left:20px;
    margin-bottom:20px;*/
    margin:20px;
    padding-top:10px;
    position:sticky;
    top:90px;
}

.profilesidebar h2{ 
    padding-top:5px;
    padding-left:10px
}

ul{
    list-style-type:none;
    padding:0px;
}

li a {
    display: block;
    color: black;
    text-decoration: none;
    padding:10px;
}

li a:hover{
    background-color:#cbced1;
    color:inherit;
}

.profilesidebar form{
    padding-left:5px;
}

.main-account{
    grid-area:main-account;
}

/*account balance page*/
.grid-account-balance{
    grid-template-columns:1fr 1fr;
    grid-template-rows: 100px auto auto;
    grid-template-areas: "balanceLabel balanceAmount transactionTitle transactionTitle transactionTable transactionTable"
}

.balanceLabel{
    grid-area:balanceLabel;
}

balanceAmount{
    grid-area:balanceAmount;
}

.transactionTitle{
    grid-area:transactionTitle;
}

.transactionTable{
    grid-area:transactionTable;
}
