@{
    ViewData["Title"] = "Banking";
}



<div class="flex-container-banking">
    <div class="cardcontainer">    
        <img src="~/img/CreditCard1.jpg" class="cardimg" />  
        <div class="cardabout">
            <h2>UB Mastercard</h2>
            <p>
                Exclusive Rewards: Earn points on every purchase, redeemable for travel, gifts, or cash back.
                Low Interest Rates: Enjoy competitive APRs and flexible payment options tailored to your needs.
            </p>
        </div>
        <div class="cardbutton">
            <btn>Apply</btn>
            <btn>Check Pre-Approval</btn>
        </div>
    </div>

    <div class="cardcontainer">
        <img src="~/img/CreditCard2.jpg" class="cardimg" />
        <div class="cardabout">
            <h2>UB Mastercard</h2>
            <p>
                Exclusive Rewards: Earn points on every purchase, redeemable for travel, gifts, or cash back.
                Low Interest Rates: Enjoy competitive APRs and flexible payment options tailored to your needs.
            </p>
        </div>
        <div class="cardbutton">
            <btn>Apply</btn>
            <btn>Check Pre-Approval</btn>
        </div>
    </div>
</div>
