@{
    ViewData["Title"] = "Banking";
}

<div class="flex-container-banking">
    <div class="cardcontainer">
        <div class="columnonecard">
            <img src="~/img/CreditCard1.jpg" />       
        </div>
        
        <div class="columntwocard">
            <h2>UB Mastercard</h2>
            <p>
                Exclusive Rewards: Earn points on every purchase, redeemable for travel, gifts, or cash back.
                Low Interest Rates: Enjoy competitive APRs and flexible payment options tailored to your needs.
            </p>
        </div>

        <div class="columnthreecard">
            <btn>Apply</btn>
            <btn>Check Pre-Approval</btn>
        </div>
    </div>

    <div class="cardcontainer">
        <div class="columnonecard">
            <img src="~/img/CreditCard2.jpg" />
        </div>

        <div class="columntwocard">
            <h2>UB Mastercard</h2>
            <p>
                Exclusive Rewards: Earn points on every purchase, redeemable for travel, gifts, or cash back.
                Low Interest Rates: Enjoy competitive APRs and flexible payment options tailored to your needs.
            </p>
        </div>

        <div class="columnthreecard">
            <btn>Apply</btn>
            <btn>Check Pre-Approval</btn>
        </div>
    </div>

</div>
