    @{
    ViewData["Title"] = "Home Page";
}

<div class="grid-container-main">
    
    <div class="mainphoto">
        <div class="textbox-main">
            <h2>UnitedBanking is Secure</h2>
            <p>Learn how we keep your data safe. We ensure that your data is protected and is never sold</p>
            <button class="btn btn-custom">Learn More</button>
        </div>
        <img src="/img/bankmain.jpg" alt="A sample image">
    </div>
    
        
    <div class="secondrowbar">
        
    </div>

   
</div>
    
