@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}

@if (!ViewData.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger"></div>
}


<div class="grid-container-signin">
    <div class="signup-text">
        <h1>Login</h1>
        <h4>Welcome Back!</h4>
        <form asp-action="Login" method="post">
            <fieldset>
                <p>
                    <label for="Username">Username: </label>
                    <input type="text" id="Username" name="Username" class="form-control" />
                </p>

                <p>
                    <label for="Password">Password:</label>
                    <input type="password" id="Password" name="Password" class="form-control" />
                </p>

                <button type="submit" class="btn btn-custom">Login</button> 
            </fieldset>

            <hr>

            <p>Don't Have an Account? <a asp-controller="Auth" asp-action="Signup">Sign Up</a></p>
        </form>
    </div>

    <img src="/img/welcome.png" alt="An image of a bank" class="signin-photo" />
</div>



